---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
---

<Layout title="page">
	<main>
		<h1>Welcome to <span class="text-gradient">Page<span></h1>
    page
	</main>
</Layout>

<script src="../scripts/page.js" />
<script src="../scripts/page.ts" />
